
h1 {
    color: #FFF;
    font-family: Carattere;
    font-size: 61px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}



h2 {
    font-family: Carattere;
    font-size: 48px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 72px */
}

button {
    color: #FFF;
    font-family: "Nunito Sans";
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
a {
    text-decoration: none;
    color: #FFF;
    font-family: "Nunito Sans";
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;

}


p {
    color: #2A2438;
    font-family: "Nunito Sans";
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 150%; /* 27px */
}

body {
    margin: 0;
    background-color: #EFECF1;
}

footer {
    background-color: #27202A;
    margin: 0;
}

a:hover {
    color: #DDA0C9;
}

button:hover {
    cursor: pointer;
}

.page {
    display: flex;
    flex-direction: column;
}

.nav {
    position: relative;
    padding-bottom: 7%;
}

.nav button {
    position: relative;
}
.nav-links {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    gap: 5%;
    padding-top: 1.5%;

}

.logo {
    position: absolute;
    padding: 1% 0 0 1%;
    height: 46px;
    width: 67px;
}

.bin-50 {
    display: flex;
    margin: 0;
}

.bin-50-text-process {
    padding: 8% 9% 10% 0;
}

.bin-50-text {
    width: 60%;
}

.bin-50-text-process h2 {
    text-align: center;
}

.bin-50-text-ingredients {
    padding: 10% 12% 0 8%;
    background-color: #2A2438;
}

.make-it-white {
    color: #FFF;
}

.bin-30 {
    margin: 10% 10% 3% 10%;
    display: flex; 
    flex-direction: row;
    justify-content: space-between;
    width: 80%;
}

.bin-50-img {
    width: 43%;
}

.hero-text {
    display: flex;
    flex-direction: column;
    padding: 2% 0 0 3.5%;
    width: 35%;
}

.hero-text h1 {
    margin-bottom: 0px;

}
.hero-text p {
    color: #FFF;
    margin-top: 0;
}

.hero-button {
    width: 45%;
    margin-top: 4%;
    border-radius: 6px;
    border: 1px solid #FFF;
    background: linear-gradient(90deg, rgba(221, 160, 201, 0.80) 0%, rgba(221, 160, 201, 0.40) 100%);
    backdrop-filter: blur(2px);
    padding: 10px 15px;
}

.hero-button:hover {
    background: linear-gradient(-90deg, rgba(221, 160, 201, 0.80) 0%, rgba(221, 160, 201, 0.40) 100%);
}

.hero-card {
    position: relative;
    background-color: rgba(255, 255, 255, 0.20);
    padding: 1% 1% 0 1%;
    border-radius: 8px;
    border: 1px solid #FAFAFA;
    max-width: 70%;
}

.bin-hero-cards {
    position: absolute;
    display: flex;
    flex-direction: column;
    width: 30%;
    margin: 7% 0 0 63%;
    
}

.hero-card p {
    margin: 0;
    font-size:16px;
    color: #FAFAFA;
}

.hero-list ul {
    margin-top: 0 !important
}
.hero-list li {
   padding: 1% 0 1% 0;
   font-size: 12px;
   color: #FAFAFA;
}

.color {
    margin: 15% 0 0 20%;
}

.fresh {
    margin: 10% 0 0 12%;
}

.img-50 {
    max-width: 100%;
    height: auto;
}

.cupcake-menu {
    width: 30%;
}

.cupcake-menu:hover{
    cursor:pointer;
}

.cupcake-list {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 5%;
    margin: 0 10% 8% 10%;
}

.cupcake-card {
    width: 18%;
    position: relative;
    margin: 5% 0% 5% 0%;
}

.cupcake-title {
    color: #2A2438;
    font-family: "Nunito Sans";
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 21px */
    padding-left: 3%;
}

.cupcake-price {
    color: #2A2438;
    text-align: right;
    font-family: "Nunito Sans";
    font-size: 22px;
    font-style: normal;
    font-weight: 600;
    line-height: 150%; /* 33px */
    padding-right: 3%;
}

.cupcake-img {
    max-width: 100%;
    zoom: 75%;
    padding-top: 5%;
}

.cupcake-button {
    display: flex;
    width: 100%;
    position: absolute;
    bottom: 0;
    align-items: center;
    justify-content: space-between;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.80) 0%, rgba(255, 255, 255, 0.60) 100%);
    backdrop-filter: blur(2px);
}

.cupcake-button:hover {
    backdrop-filter: blur(2px);
    background: linear-gradient(180deg, rgba(42, 36, 56, 0.80) 0%, rgba(42, 36, 56, 0.60) 100%);
    cursor: pointer;
}

.cupcake-button:hover .cupcake-title, .cupcake-button:hover .cupcake-price {
    color: #FFF;
}

.cupcake-button:hover ~ .cupcake-img {
    padding-top: 0%;
}


.selected-button {
    background: linear-gradient(102deg, #211B25 3.45%, #483748 100%);
    border-radius: 7px;
    border: 1px solid #DDA0C9;
    color: #DDA0C9;
    padding: 1% 2%;
}

.selected-button:hover {
    background: linear-gradient(90deg, rgba(221, 160, 201, 0.80) 0%, rgba(221, 160, 201, 0.40) 100%);
    color: #483748;
    border: #483748
}

.unselected-button {
    background: linear-gradient(95deg, rgba(33, 27, 37, 0.30) 1.84%, rgba(72, 55, 72, 0.30) 100%);
    border-radius: 7px;
    color: #FFF;
}

.unselected-button:hover {
    background: linear-gradient(-85deg, rgba(33, 27, 37, 0.30) 1.84%, rgba(72, 55, 72, 0.30) 100%);
    color: #483748;
}

.change-margin {
    margin-top: 5%;
    margin-bottom: 0;
}

.no-margin {
    margin-top: 0%;
}
.feedback-bin {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 0;
    margin-bottom: 0;
}

.feedback-bin h2 {
    margin: 5% 0 0 0;
}

.feedback-img {
    border-radius: 100%;
    border: 20px solid #ECDEEA;  
}

.feedback-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    width:28%;
}

.bin-feedback-text {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #ECDEEA;
    margin: 10% 0 20% 0;
    border: 2px solid #DDA0C9;
    border-radius: 8px;
    flex-grow: 1;
}

.feedback-inner-text {
    padding: 8%;
}

.make-it-bold {
    font-weight: 700;
}

.bin-50-location {
    margin-left: 10%;
    padding-bottom: 3%;
    align-items: center;
}
.bin-50-text-location {
    display: flex;
    flex-direction: column;
    padding: 5% 5% 10% 0;
}

.bin-50-text-location h2 {
    padding-top: 10%;
}

.bin-50-img-location {
    width: 65%;
}

.img-location {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.footer-text {
    color: #FFF;
    text-align: center;
    padding: 20px 0 20px 0;
    margin: 0;
}
#hero {
    position: relative;
    background: url("resources/images/img_hero_2.png"), linear-gradient(180deg, #493849 0%, #131118 100%);
    background-position: bottom;
    background-size: contain;
    background-repeat: no-repeat;
    height: 100vh;

}

#process {
    margin-left: 7%;
}

#selection {

}

#ingredients {

}

#feedback {

}

#location{

}

#cupcake-wrapper {
    position: relative; 
    margin:0;
}

.pop-up-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    position:absolute;
    background: linear-gradient(180deg, rgba(42, 36, 56, 0.80) 0%, rgba(42, 36, 56, 0.60) 100%);
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1000;
}

.pop-up-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid #FFF;
    background-color: rgba(255, 255, 255, 0.82);
    width: 50%;
    min-height: 550px; 
    margin-top: 20%;
    border-radius: 8px;
    animation-name: pop-up;
    animation-duration: 0.5s;
}

@keyframes pop-up {
    from {width: 1%; min-height: 1%}
    to {width: 50%; min-height: 550px}
}

.pop-up-img {
    width: 40%;
    height: auto;
    margin-top: 0;
    object-fit: contain;
    border-radius: 8px;

}

.pop-up-inner-card {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10%;
    padding: 3% 3% 5% 3%;
    position: relative;
    opacity: 100%;
    animation-name: fade-in;
    animation-duration: 1.5s;
}

@keyframes fade-in {
    from {opacity: 0%}
    to {opacity: 100%}
}

.bin-pop-up-text {
    display: flex;
    flex-direction: column;
}

.pop-up-card-button {
    margin-bottom: 5%;
    padding: 1% 3%;
    width: 20%;
    background: linear-gradient(180deg, rgba(42, 36, 56, 0.80) 0%, rgba(42, 36, 56, 0.60) 100%);
    backdrop-filter: blur(2px);
    border-radius: 8px;
}

.pop-up-card-button:hover {
    background: linear-gradient(0deg, rgba(42, 36, 56, 0.80) 0%, rgba(42, 36, 56, 0.60) 100%); 
    cursor: pointer;
}